body {
    font-family: sans-serif;
}

.box{
height: 100px;
width: 100px;
border: 1px solid #000
}

.container{

}

.circle{
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}